/*! tailwindcss v2.2.17 | MIT License | https://tailwindcss.com *//*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
	box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/

html {
	-moz-tab-size: 4;
	tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
	margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
	font-family:
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
	text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/

button,
select { /* 1 */
	text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
	box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */

/**
 * Removes the default spacing and border for appropriate elements.
 */

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Tailwind custom reset styles
 */

/**
 * 1. Use the user's configured `sans` font-family (with Tailwind's default
 *    sans-serif font stack as a fallback) as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 *    to override it to ensure consistency even when using the default theme.
 */

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
  line-height: 1.5; /* 2 */
}


/**
 * Inherit font-family and line-height from `html` so users can set them as
 * a class directly on the `html` element.
 */

body {
  font-family: inherit;
  line-height: inherit;
}

/**
 * 1. Prevent padding and border from affecting element width.
 *
 *    We used to set this in the html element and inherit from
 *    the parent element for everything else. This caused issues
 *    in shadow-dom-enhanced elements like <details> where the content
 *    is wrapped by a div with box-sizing set to `content-box`.
 *
 *    https://github.com/mozdevs/cssremedy/issues/4
 *
 *
 * 2. Allow adding a border to an element by just adding a border-width.
 *
 *    By default, the way the browser specifies that an element should have no
 *    border is by setting it's border-style to `none` in the user-agent
 *    stylesheet.
 *
 *    In order to easily add borders to elements by just setting the `border-width`
 *    property, we change the default border-style for all elements to `solid`, and
 *    use border-width to hide them instead. This way our `border` utilities only
 *    need to set the `border-width` property instead of the entire `border`
 *    shorthand, making our border utilities much more straightforward to compose.
 *
 *    https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: currentColor; /* 2 */
}

/*
 * Ensure horizontal rules are visible by default
 */

hr {
  border-top-width: 1px;
}

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button,
[role="button"] {
  cursor: pointer;
}

/**
 * Override legacy focus reset from Normalize with modern Firefox focus styles.
 *
 * This is actually an improvement over the new defaults in Firefox in our testing,
 * as it triggers the better focus styles even for links, which still use a dotted
 * outline in Firefox by default.
 */
 
:-moz-focusring {
	outline: auto;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */

a {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

/**
 * Use the configured 'mono' font family for elements that
 * are expected to be rendered with a monospace font, falling
 * back to the system monospace stack if there is no configured
 * 'mono' font family.
 */

pre,
code,
kbd,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/**
 * 1. Make replaced elements `display: block` by default as that's
 *    the behavior you want almost all of the time. Inspired by
 *    CSS Remedy, with `svg` added as well.
 *
 *    https://github.com/mozdevs/cssremedy/issues/14
 * 
 * 2. Add `vertical-align: middle` to align replaced elements more
 *    sensibly by default when overriding `display` by adding a
 *    utility like `inline`.
 *
 *    This can trigger a poorly considered linting error in some
 *    tools but is included by design.
 * 
 *    https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210
 */

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/**
 * Constrain images and videos to the parent width and preserve
 * their intrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
video {
  max-width: 100%;
  height: auto;
}

/**
 * Ensure the default browser behavior of the `hidden` attribute.
 */

[hidden] {
  display: none;
}

*, ::before, ::after {
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	--tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	--tw-border-opacity: 1;
	border-color: rgba(229, 231, 235, var(--tw-border-opacity));
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
	--tw-shadow: 0 0 #0000;
	--tw-blur: var(--tw-empty,/*!*/ /*!*/);
	--tw-brightness: var(--tw-empty,/*!*/ /*!*/);
	--tw-contrast: var(--tw-empty,/*!*/ /*!*/);
	--tw-grayscale: var(--tw-empty,/*!*/ /*!*/);
	--tw-hue-rotate: var(--tw-empty,/*!*/ /*!*/);
	--tw-invert: var(--tw-empty,/*!*/ /*!*/);
	--tw-saturate: var(--tw-empty,/*!*/ /*!*/);
	--tw-sepia: var(--tw-empty,/*!*/ /*!*/);
	--tw-drop-shadow: var(--tw-empty,/*!*/ /*!*/);
	--tw-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.fixed {
	position: fixed;
}
.absolute {
	position: absolute;
}
.relative {
	position: relative;
}
.top-2 {
	top: 0.5rem;
}
.left-3 {
	left: 0.75rem;
}
.bottom-0 {
	bottom: 0px;
}
.-left-2 {
	left: -0.5rem;
}
.left-0 {
	left: 0px;
}
.-top-2 {
	top: -0.5rem;
}
.top-36 {
	top: 9rem;
}
.top-0 {
	top: 0px;
}
.-top-28 {
	top: -7rem;
}
.-top-20 {
	top: -5rem;
}
.-left-32 {
	left: -8rem;
}
.z-10 {
	z-index: 10;
}
.z-20 {
	z-index: 20;
}
.m-5 {
	margin: 1.25rem;
}
.my-5 {
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
}
.my-3 {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}
.my-2 {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
.mx-auto {
	margin-left: auto;
	margin-right: auto;
}
.mx-8 {
	margin-left: 2rem;
	margin-right: 2rem;
}
.mx-5 {
	margin-left: 1.25rem;
	margin-right: 1.25rem;
}
.mt-10 {
	margin-top: 2.5rem;
}
.ml-4 {
	margin-left: 1rem;
}
.ml-auto {
	margin-left: auto;
}
.mr-4 {
	margin-right: 1rem;
}
.mt-1 {
	margin-top: 0.25rem;
}
.mt-auto {
	margin-top: auto;
}
.mb-10 {
	margin-bottom: 2.5rem;
}
.mb-8 {
	margin-bottom: 2rem;
}
.mr-9 {
	margin-right: 2.25rem;
}
.mt-4 {
	margin-top: 1rem;
}
.mt-24 {
	margin-top: 6rem;
}
.mt-3 {
	margin-top: 0.75rem;
}
.mt-2 {
	margin-top: 0.5rem;
}
.mr-2 {
	margin-right: 0.5rem;
}
.mb-5 {
	margin-bottom: 1.25rem;
}
.mb-20 {
	margin-bottom: 5rem;
}
.mr-5 {
	margin-right: 1.25rem;
}
.ml-1 {
	margin-left: 0.25rem;
}
.mt-44 {
	margin-top: 11rem;
}
.flex {
	display: flex;
}
.table {
	display: table;
}
.grid {
	display: grid;
}
.hidden {
	display: none;
}
.h-5 {
	height: 1.25rem;
}
.h-\[100vh\] {
	height: 100vh;
}
.h-7 {
	height: 1.75rem;
}
.h-10 {
	height: 2.5rem;
}
.h-\[40px\] {
	height: 40px;
}
.h-20 {
	height: 5rem;
}
.h-full {
	height: 100%;
}
.h-\[22px\] {
	height: 22px;
}
.h-16 {
	height: 4rem;
}
.h-24 {
	height: 6rem;
}
.h-11 {
	height: 2.75rem;
}
.h-14 {
	height: 3.5rem;
}
.h-\[13px\] {
	height: 13px;
}
.h-\[2px\] {
	height: 2px;
}
.h-auto {
	height: auto;
}
.h-9 {
	height: 2.25rem;
}
.h-4 {
	height: 1rem;
}
.h-\[97px\] {
	height: 97px;
}
.h-3 {
	height: 0.75rem;
}
.h-8 {
	height: 2rem;
}
.h-6 {
	height: 1.5rem;
}
.h-\[28px\] {
	height: 28px;
}
.h-\[fit-content\] {
	height: -moz-fit-content;
	height: fit-content;
}
.h-\[20px\] {
	height: 20px;
}
.h-\[1px\] {
	height: 1px;
}
.h-1 {
	height: 0.25rem;
}
.h-2\/3 {
	height: 66.666667%;
}
.h-1\/3 {
	height: 33.333333%;
}
.min-h-\[157px\] {
	min-height: 157px;
}
.min-h-0 {
	min-height: 0px;
}
.min-h-\[64px\] {
	min-height: 64px;
}
.w-5 {
	width: 1.25rem;
}
.w-\[100vw\] {
	width: 100vw;
}
.w-full {
	width: 100%;
}
.w-6 {
	width: 1.5rem;
}
.w-10 {
	width: 2.5rem;
}
.w-\[40vw\] {
	width: 40vw;
}
.w-1\/5 {
	width: 20%;
}
.w-32 {
	width: 8rem;
}
.w-\[70\%\] {
	width: 70%;
}
.w-\[5px\] {
	width: 5px;
}
.w-\[170px\] {
	width: 170px;
}
.w-\[19px\] {
	width: 19px;
}
.w-\[81\%\] {
	width: 81%;
}
.w-72 {
	width: 18rem;
}
.w-7 {
	width: 1.75rem;
}
.w-\[13px\] {
	width: 13px;
}
.w-\[fit-content\] {
	width: -moz-fit-content;
	width: fit-content;
}
.w-9 {
	width: 2.25rem;
}
.w-3\/12 {
	width: 25%;
}
.w-\[99\%\] {
	width: 99%;
}
.w-4 {
	width: 1rem;
}
.w-1 {
	width: 0.25rem;
}
.w-20 {
	width: 5rem;
}
.w-1\/3 {
	width: 33.333333%;
}
.w-\[28px\] {
	width: 28px;
}
.w-16 {
	width: 4rem;
}
.w-2\/4 {
	width: 50%;
}
.w-\[25\%\] {
	width: 25%;
}
.w-\[80\%\] {
	width: 80%;
}
.w-\[100\%\] {
	width: 100%;
}
.w-\[20px\] {
	width: 20px;
}
.w-12 {
	width: 3rem;
}
.w-24 {
	width: 6rem;
}
.w-11\/12 {
	width: 91.666667%;
}
.w-\[30\%\] {
	width: 30%;
}
.w-8 {
	width: 2rem;
}
.w-28 {
	width: 7rem;
}
.w-36 {
	width: 9rem;
}
.w-44 {
	width: 11rem;
}
.min-w-\[800px\] {
	min-width: 800px;
}
.min-w-\[40px\] {
	min-width: 40px;
}
.min-w-full {
	min-width: 100%;
}
.min-w-\[128px\] {
	min-width: 128px;
}
.min-w-\[160px\] {
	min-width: 160px;
}
.max-w-full {
	max-width: 100%;
}
.max-w-\[20px\] {
	max-width: 20px;
}
.table-auto {
	table-layout: auto;
}
.rotate-180 {
	--tw-rotate: 180deg;
	transform: var(--tw-transform);
}
.transform {
	transform: var(--tw-transform);
}
.cursor-pointer {
	cursor: pointer;
}
.appearance-none {
	-webkit-appearance: none;
	        appearance: none;
}
.grid-cols-3 {
	grid-template-columns: repeat(3, minmax(0, 1fr));
}
.flex-row {
	flex-direction: row;
}
.flex-col {
	flex-direction: column;
}
.items-start {
	align-items: flex-start;
}
.items-end {
	align-items: flex-end;
}
.items-center {
	align-items: center;
}
.justify-start {
	justify-content: flex-start;
}
.justify-end {
	justify-content: flex-end;
}
.justify-center {
	justify-content: center;
}
.justify-between {
	justify-content: space-between;
}
.justify-around {
	justify-content: space-around;
}
.gap-4 {
	gap: 1rem;
}
.gap-2 {
	gap: 0.5rem;
}
.gap-5 {
	gap: 1.25rem;
}
.gap-1 {
	gap: 0.25rem;
}
.gap-8 {
	gap: 2rem;
}
.gap-3 {
	gap: 0.75rem;
}
.gap-6 {
	gap: 1.5rem;
}
.gap-10 {
	gap: 2.5rem;
}
.gap-y-4 {
	row-gap: 1rem;
}
.gap-y-8 {
	row-gap: 2rem;
}
.gap-y-2 {
	row-gap: 0.5rem;
}
.gap-y-20 {
	row-gap: 5rem;
}
.self-start {
	align-self: flex-start;
}
.self-end {
	align-self: flex-end;
}
.self-center {
	align-self: center;
}
.overflow-auto {
	overflow: auto;
}
.overflow-hidden {
	overflow: hidden;
}
.overflow-y-auto {
	overflow-y: auto;
}
.rounded-full {
	border-radius: 9999px;
}
.rounded-\[20px\] {
	border-radius: 20px;
}
.rounded {
	border-radius: 0.25rem;
}
.rounded-md {
	border-radius: 0.375rem;
}
.rounded-lg {
	border-radius: 0.5rem;
}
.rounded-xl {
	border-radius: 0.75rem;
}
.rounded-sm {
	border-radius: 0.125rem;
}
.rounded-b-md {
	border-bottom-right-radius: 0.375rem;
	border-bottom-left-radius: 0.375rem;
}
.rounded-tr-md {
	border-top-right-radius: 0.375rem;
}
.rounded-br-md {
	border-bottom-right-radius: 0.375rem;
}
.rounded-tl-full {
	border-top-left-radius: 9999px;
}
.rounded-tr-full {
	border-top-right-radius: 9999px;
}
.border {
	border-width: 1px;
}
.border-\[1px\] {
	border-width: 1px;
}
.border-2 {
	border-width: 2px;
}
.border-b-\[1px\] {
	border-bottom-width: 1px;
}
.border-b-2 {
	border-bottom-width: 2px;
}
.border-b {
	border-bottom-width: 1px;
}
.border-\[\#929292\] {
	--tw-border-opacity: 1;
	border-color: rgba(146, 146, 146, var(--tw-border-opacity));
}
.border-\[\#7D001C\] {
	--tw-border-opacity: 1;
	border-color: rgba(125, 0, 28, var(--tw-border-opacity));
}
.border-\[\#C20831\] {
	--tw-border-opacity: 1;
	border-color: rgba(194, 8, 49, var(--tw-border-opacity));
}
.border-black {
	--tw-border-opacity: 1;
	border-color: rgba(0, 0, 0, var(--tw-border-opacity));
}
.border-white {
	--tw-border-opacity: 1;
	border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}
.border-ram-red {
	--tw-border-opacity: 1;
	border-color: rgba(195, 2, 45, var(--tw-border-opacity));
}
.border-red-600 {
	--tw-border-opacity: 1;
	border-color: rgba(220, 38, 38, var(--tw-border-opacity));
}
.border-b-blue-50 {
	--tw-border-opacity: 1;
	border-bottom-color: rgba(239, 246, 255, var(--tw-border-opacity));
}
.border-opacity-50 {
	--tw-border-opacity: 0.5;
}
.bg-gray-400 {
	--tw-bg-opacity: 1;
	background-color: rgba(156, 163, 175, var(--tw-bg-opacity));
}
.bg-ram-green {
	--tw-bg-opacity: 1;
	background-color: rgba(78, 209, 158, var(--tw-bg-opacity));
}
.bg-blue-500 {
	--tw-bg-opacity: 1;
	background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
}
.bg-ram-red {
	--tw-bg-opacity: 1;
	background-color: rgba(195, 2, 45, var(--tw-bg-opacity));
}
.bg-white {
	--tw-bg-opacity: 1;
	background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.bg-transparent {
	background-color: transparent;
}
.bg-\[\#FFFCFC\] {
	--tw-bg-opacity: 1;
	background-color: rgba(255, 252, 252, var(--tw-bg-opacity));
}
.bg-\[\#c20831\] {
	--tw-bg-opacity: 1;
	background-color: rgba(194, 8, 49, var(--tw-bg-opacity));
}
.bg-\[\#2AD4B9\] {
	--tw-bg-opacity: 1;
	background-color: rgba(42, 212, 185, var(--tw-bg-opacity));
}
.bg-\[\#FDBC64\] {
	--tw-bg-opacity: 1;
	background-color: rgba(253, 188, 100, var(--tw-bg-opacity));
}
.bg-gray-100 {
	--tw-bg-opacity: 1;
	background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
}
.bg-\[\#c7292e\] {
	--tw-bg-opacity: 1;
	background-color: rgba(199, 41, 46, var(--tw-bg-opacity));
}
.bg-black {
	--tw-bg-opacity: 1;
	background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}
.bg-green-400 {
	--tw-bg-opacity: 1;
	background-color: rgba(52, 211, 153, var(--tw-bg-opacity));
}
.bg-\[\#f4f4f4\] {
	--tw-bg-opacity: 1;
	background-color: rgba(244, 244, 244, var(--tw-bg-opacity));
}
.bg-\[\#d7d7d7\] {
	--tw-bg-opacity: 1;
	background-color: rgba(215, 215, 215, var(--tw-bg-opacity));
}
.bg-\[\#C20831\] {
	--tw-bg-opacity: 1;
	background-color: rgba(194, 8, 49, var(--tw-bg-opacity));
}
.bg-gray-200 {
	--tw-bg-opacity: 1;
	background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
}
.bg-primary {
	--tw-bg-opacity: 1;
	background-color: rgba(199, 41, 46, var(--tw-bg-opacity));
}
.bg-gray-300 {
	--tw-bg-opacity: 1;
	background-color: rgba(209, 213, 219, var(--tw-bg-opacity));
}
.bg-secondary {
	background-color: #d5043321;
}
.bg-\[\#d40b3f\] {
	--tw-bg-opacity: 1;
	background-color: rgba(212, 11, 63, var(--tw-bg-opacity));
}
.bg-\[\#d40808\] {
	--tw-bg-opacity: 1;
	background-color: rgba(212, 8, 8, var(--tw-bg-opacity));
}
.bg-\[\#4ed19e\] {
	--tw-bg-opacity: 1;
	background-color: rgba(78, 209, 158, var(--tw-bg-opacity));
}
.bg-\[\#d24343\] {
	--tw-bg-opacity: 1;
	background-color: rgba(210, 67, 67, var(--tw-bg-opacity));
}
.bg-\[\#a81038\] {
	--tw-bg-opacity: 1;
	background-color: rgba(168, 16, 56, var(--tw-bg-opacity));
}
.bg-blue-600 {
	--tw-bg-opacity: 1;
	background-color: rgba(37, 99, 235, var(--tw-bg-opacity));
}
.bg-gray-500 {
	--tw-bg-opacity: 1;
	background-color: rgba(107, 114, 128, var(--tw-bg-opacity));
}
.bg-opacity-5 {
	--tw-bg-opacity: 0.05;
}
.bg-gradient-to-r {
	background-image: linear-gradient(to right, var(--tw-gradient-stops));
}
.bg-gradient-to-br {
	background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
}
.bg-gradient-to-tr {
	background-image: linear-gradient(to top right, var(--tw-gradient-stops));
}
.from-\[\#f0405c\] {
	--tw-gradient-from: #f0405c;
	--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(240, 64, 92, 0));
}
.from-\[\#F4F4F4\] {
	--tw-gradient-from: #F4F4F4;
	--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(244, 244, 244, 0));
}
.from-\[\#e44e56\] {
	--tw-gradient-from: #e44e56;
	--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(228, 78, 86, 0));
}
.to-\[\#c20831\] {
	--tw-gradient-to: #c20831;
}
.to-white {
	--tw-gradient-to: #fff;
}
.to-\[\#efafb5\] {
	--tw-gradient-to: #efafb5;
}
.bg-contain {
	background-size: contain;
}
.object-cover {
	object-fit: cover;
}
.p-6 {
	padding: 1.5rem;
}
.p-2 {
	padding: 0.5rem;
}
.p-8 {
	padding: 2rem;
}
.p-4 {
	padding: 1rem;
}
.px-4 {
	padding-left: 1rem;
	padding-right: 1rem;
}
.py-2 {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.px-3 {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}
.py-4 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.px-7 {
	padding-left: 1.75rem;
	padding-right: 1.75rem;
}
.px-1 {
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}
.px-8 {
	padding-left: 2rem;
	padding-right: 2rem;
}
.pt-5 {
	padding-top: 1.25rem;
}
.pl-10 {
	padding-left: 2.5rem;
}
.pl-5 {
	padding-left: 1.25rem;
}
.pb-3 {
	padding-bottom: 0.75rem;
}
.pt-10 {
	padding-top: 2.5rem;
}
.pt-8 {
	padding-top: 2rem;
}
.pb-5 {
	padding-bottom: 1.25rem;
}
.pb-2 {
	padding-bottom: 0.5rem;
}
.pl-4 {
	padding-left: 1rem;
}
.pb-4 {
	padding-bottom: 1rem;
}
.pb-10 {
	padding-bottom: 2.5rem;
}
.pt-2 {
	padding-top: 0.5rem;
}
.pt-3 {
	padding-top: 0.75rem;
}
.pb-1 {
	padding-bottom: 0.25rem;
}
.text-center {
	text-align: center;
}
.font-sans {
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.font-lato {
	font-family: Lato;
}
.text-lg {
	font-size: 1.125rem;
	line-height: 1.75rem;
}
.text-base {
	font-size: 1rem;
	line-height: 1.5rem;
}
.text-sm {
	font-size: 0.875rem;
	line-height: 1.25rem;
}
.text-xs {
	font-size: 0.75rem;
	line-height: 1rem;
}
.text-\[20px\] {
	font-size: 20px;
}
.text-\[40px\] {
	font-size: 40px;
}
.text-\[12px\] {
	font-size: 12px;
}
.text-\[11px\] {
	font-size: 11px;
}
.text-2xl {
	font-size: 1.5rem;
	line-height: 2rem;
}
.font-extrabold {
	font-weight: 800;
}
.font-semibold {
	font-weight: 600;
}
.font-bold {
	font-weight: 700;
}
.font-normal {
	font-weight: 400;
}
.font-medium {
	font-weight: 500;
}
.font-thin {
	font-weight: 100;
}
.uppercase {
	text-transform: uppercase;
}
.not-italic {
	font-style: normal;
}
.leading-5 {
	line-height: 1.25rem;
}
.text-gray-400 {
	--tw-text-opacity: 1;
	color: rgba(156, 163, 175, var(--tw-text-opacity));
}
.text-ram-green {
	--tw-text-opacity: 1;
	color: rgba(78, 209, 158, var(--tw-text-opacity));
}
.text-blue-500 {
	--tw-text-opacity: 1;
	color: rgba(59, 130, 246, var(--tw-text-opacity));
}
.text-primary {
	--tw-text-opacity: 1;
	color: rgba(199, 41, 46, var(--tw-text-opacity));
}
.text-white {
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.text-\[\#c20831\] {
	--tw-text-opacity: 1;
	color: rgba(194, 8, 49, var(--tw-text-opacity));
}
.text-black {
	--tw-text-opacity: 1;
	color: rgba(0, 0, 0, var(--tw-text-opacity));
}
.text-\[\#7D001C\] {
	--tw-text-opacity: 1;
	color: rgba(125, 0, 28, var(--tw-text-opacity));
}
.text-blue-400 {
	--tw-text-opacity: 1;
	color: rgba(96, 165, 250, var(--tw-text-opacity));
}
.text-\[\#C20831\] {
	--tw-text-opacity: 1;
	color: rgba(194, 8, 49, var(--tw-text-opacity));
}
.text-ram-red {
	--tw-text-opacity: 1;
	color: rgba(195, 2, 45, var(--tw-text-opacity));
}
.text-red-500 {
	--tw-text-opacity: 1;
	color: rgba(239, 68, 68, var(--tw-text-opacity));
}
.text-gray-300 {
	--tw-text-opacity: 1;
	color: rgba(209, 213, 219, var(--tw-text-opacity));
}
.text-\[\#ca1d41\] {
	--tw-text-opacity: 1;
	color: rgba(202, 29, 65, var(--tw-text-opacity));
}
.text-gray-200 {
	--tw-text-opacity: 1;
	color: rgba(229, 231, 235, var(--tw-text-opacity));
}
.text-green-500 {
	--tw-text-opacity: 1;
	color: rgba(16, 185, 129, var(--tw-text-opacity));
}
.text-\[\#4ed19e\] {
	--tw-text-opacity: 1;
	color: rgba(78, 209, 158, var(--tw-text-opacity));
}
.text-\[\#d24343\] {
	--tw-text-opacity: 1;
	color: rgba(210, 67, 67, var(--tw-text-opacity));
}
.text-red-600 {
	--tw-text-opacity: 1;
	color: rgba(220, 38, 38, var(--tw-text-opacity));
}
.text-\[\#a11635\] {
	--tw-text-opacity: 1;
	color: rgba(161, 22, 53, var(--tw-text-opacity));
}
.text-ram-shiraz {
	--tw-text-opacity: 1;
	color: rgba(194, 8, 49, var(--tw-text-opacity));
}
.placeholder-current::placeholder {
	color: currentColor;
}
.placeholder-\[\#929292\]::placeholder {
	--tw-placeholder-opacity: 1;
	color: rgba(146, 146, 146, var(--tw-placeholder-opacity));
}
.opacity-0 {
	opacity: 0;
}
.shadow-xl {
	--tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-md {
	--tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-lg {
	--tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-2xl {
	--tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.filter {
	filter: var(--tw-filter);
}
.transition-all {
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}
.duration-500 {
	transition-duration: 500ms;
}
.duration-200 {
	transition-duration: 200ms;
}
.hover\:outline-none:hover {
	outline: 2px solid transparent;
	outline-offset: 2px;
}
.focus\:outline-none:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
}
@media (min-width: 640px) {

	.sm\:flex {
		display: flex;
	}

	.sm\:w-auto {
		width: auto;
	}

	.sm\:gap-8 {
		gap: 2rem;
	}
}
@media (min-width: 768px) {

	.md\:left-8 {
		left: 2rem;
	}

	.md\:top-\[unset\] {
		top: unset;
	}
}
@media (min-width: 1024px) {

	.lg\:mb-0 {
		margin-bottom: 0px;
	}

	.lg\:mr-5 {
		margin-right: 1.25rem;
	}

	.lg\:ml-auto {
		margin-left: auto;
	}

	.lg\:mr-0 {
		margin-right: 0px;
	}

	.lg\:flex {
		display: flex;
	}

	.lg\:flex-row {
		flex-direction: row;
	}

	.lg\:justify-around {
		justify-content: space-around;
	}

	.lg\:self-start {
		align-self: flex-start;
	}
}
@media (min-width: 1280px) {

	.xl\:ml-4 {
		margin-left: 1rem;
	}

	.xl\:ml-auto {
		margin-left: auto;
	}

	.xl\:block {
		display: block;
	}

	.xl\:w-2\/5 {
		width: 40%;
	}

	.xl\:flex-row {
		flex-direction: row;
	}

	.xl\:justify-between {
		justify-content: space-between;
	}
}